.page-wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#box1{
    width: 10%;
    height: 10vh;
   background-color: blue;
float: right;
  
}
#box2{
    width: 10%;
    height: 10vh;
   background-color:red;
   margin-top: 10%; 
float:right ;

}
#box3{
    width: 10%;
    height: 10vh;
   background-color:green;
   margin-top: 20%;
   float: right; 
}
#box4{
    width: 10%;
    height: 10vh;
   background-color:yellow;
   margin-top: 30%;
   float: right; 
}